---
import HeaderBar from "./HeaderBar.astro"
import AboutMe from "./AboutMe.astro"
import ExperienceItem from "./ExperienceItem.astro"
import Info from "./Info.astro"
import Footer from "./Footer.astro"
---

<div class="w-full">
    <HeaderBar />
    <section id="experience" class="max-w-[850px] mx-auto px-10">
        <AboutMe />
        <div class="flex gap-2">
            <img src="/Portfolio.svg" alt="" srcset="">
            <h1 class="text-white text-2xl">Work Experience</h1>
        </div>
        <ExperienceItem title="Frontend Developer" company="FreeLancer" date="2020-2024" description="I have developed web applications using React, Next.js, and Vue.js, focusing on creating responsive and optimized user interfaces. I implemented REST APIs and dynamic features to enhance interactivity. Additionally, I collaborated with remote teams on projects with strict deadlines, ensuring timely and efficient delivery." />
        <ExperienceItem title="Software Engineer" company="XETID" date="2022-2024" description="I developed both frontend and backend solutions, using React, Vue.js, and Next.js for building intuitive and responsive interfaces. On the backend, I created systems with NestJs, TypeORM, and Java. Additionally, I designed efficient, user-friendly frontend interfaces with JavaScript frameworks. I also actively participated in multidisciplinary teams, following Agile methodologies to ensure project success." />
    </section>
    <section class="max-w-[850px] mx-auto px-10" id="about-me">
        <div class="flex gap-2">
            <img src="/person.svg" alt="">
            <h1 class="text-white text-2xl my-6">About Me</h1>
        </div>
        <Info/>
    </section>
    <Footer/>
    </div>
    
